html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    background-color: #e5e5e5;
    color: #070707;
}

.big-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.mobi {
    display: none !important;
}


/* header */
.header {
    margin-bottom: 40px;
}

.header__menu {
    border-bottom: 1px solid #828282;
    height: 70px;
}

.header__menu-burger {
    height: 25px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.header__menu-burger div {
    height: 2.5px;
    width: 50px;
    background-color: #070707;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    height: 70px;
    align-items: center;
}

.header__menu-item a {
    color: #828282;
    transition: all .25s linear;
}

.header__menu-item a:hover {
    color: #070707;
}

/* preabout */
.preabout {
    padding-bottom: 80px;
}

.preabout__wrapper {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.preabout__title {
    font-size: 45px;
    line-height: 48px;
}

.preabout__img {
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

/* about */
.about {
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
}

.title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 34px;
    line-height: 37px;
}

.about__text {
    margin-bottom: 15px;
}

/* skills */
.skills {
    padding: 80px 0;
}

.skills__title {
    margin-bottom: 50px;
}

.slills__images {
    display: flex;
    justify-content: space-between;
}

.skills__img {
    display: block;
}

/* portfolio */
.portfolio {
    padding: 80px 0;
    background-color: #f4f4f4;
}

.portfolio__title {
    margin-bottom: 50px;
}

.portfolio__wrapper {
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
}

.portfolio__slider {

}

.portfolilo__slider-item {
    text-align: center;
}

.portfolilo__slider-item a {
    display: inline-block;
}

.portfolilo__slider-img {
    display: block;
    max-width: 830px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.portfolilo__slider-text {
    text-align: center;
    color: #070707;
}

.slick-prev,
.slick-next {
    background-image: url("../images/left-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    width: 50px;
    height: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 0px;
    z-index: 100;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: .5;
    transition: all .25s linear;
}

.slick-next {
    background-image: url("../images/right-arrow.png");
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    left: auto;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
    background-color: rgba(22, 29, 37, 0.8);
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.slick-dots button {
    font-size: 0;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    width: 13px;
    height: 13px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #070707;
}

.slick-active button {
    background-color: #070707;
}

/* contacts */
.contacts {
    padding: 80px 0;
}

.contacts__title {
    margin-bottom: 50px;
}

.contacts__icons {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.contacts__icons a {
    border-radius: 50%;
}

.contacts__icons-img {
    width: 50px;
    transition: all .25s linear;
}

.contacts__icons-img:hover {
    transform: scale(1.2);
}

/* media */
@media (max-width: 970px) {
    .slills__images {
        justify-content: center;
        flex-wrap: wrap;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
    }
    .skills__img {
        margin: 0 20px 40px;
    }
    .skills {
        padding: 80px 0 40px;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 0 7px;
    }

    .preabout {
        padding-bottom: 60px;
    }

    .preabout__wrapper {
        align-items: center;
    }

    .preabout__title {
        font-size: 30px;
        line-height: 33px;
    }

    .preabout__text {
        width: 205px;
    }

    .preabout__img {
        max-width: 350px;
    }

    .about {
        padding: 60px 0 50px;
    }

    .title {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 31px;
    }

    .skills {
        padding: 60px 0 30px;
    }

    .skills__title {
        margin-bottom: 40px;
    }

    .slills__images {
        max-width: 600px;
    }

    .skills__img {
        margin: 0 15px 30px;
        width: 125px;
    }

    .portfolio,
    .contacts {
        padding: 60px 0;
    }

    .portfolio__title,
    .contacts__title {
        margin-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .desc {
        display: none !important;
    }

    .mobi {
        display: block !important;
    }

    .header__menu-list {
        display: none;
    }

    .header__menu-burger {
        display: flex;
        cursor: pointer;
    }

    .header__menu {
        display: flex;
        align-items: center;
        overflow-y: hidden;
        padding-left: 20px;
    }

    .header__menu-list {
        display: block;
        position: absolute;
        top: 70px;
        background-color: #fff;
        height: auto;
        left: 0;
        padding: 30px 20px;
        transform: translateY(-200%);
        opacity: 0;
        transition: all .5s cubic-bezier(0.07, -0.16, 0.59, 1.51);
    }

    .header__menu-item {
        padding: 2.5px 0;
    }

    .header__menu-item a {
        font-size: 24px;
        line-height: 40px;
        display: block;
    }

    .about {
        padding: 40px 0 30px;
    }

    .skills {
        padding: 40px 0 10px;
    }

    .portfolio,
    .contacts {
        padding: 40px 0;
    }
}

@media (max-width: 440px) {
    body {
        font-size: 15px;
        line-height: 18px;
    }

    .title {
        margin-bottom: 25px;
        font-size: 26px;
        line-height: 29px;
    }

    .preabout {
        padding-bottom: 40px;
    }

    .preabout__wrapper {
        margin-bottom: 25px;
    }

    .preabout__title {
        width: 100px;
    }

    .preabout__text {
        width: 170px;
    }

    .about__text {
        margin-bottom: 10px;
    }

    .skills__title,
    .portfolio__title,
    .contacts__title {
        margin-bottom: 30px;
    }

    .skills__img {
        margin: 0 15px 25px;
        width: 114px;
    }

    .portfolilo__slider-img {
        margin-bottom: 20px;
    }

    .slick-dots button {
        margin: 0 4px;
    }
}

.active {
    transform: translateY(0%);
    opacity: 1;
}